.text-field {
    width: 30%;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #f70870;
    color: #f70870;
    box-sizing: border-box;
}
.btn-container {
    margin-top: 10px;
}
.primary-btn{
    padding: 10px 20px;
    color: white;
    background-color: #f70870;
    border: 1px solid #f70870;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}
.secondary-btn {
    padding: 10px 20px;
    color: white;
    background-color: #009788;
    border: 1px solid #009788;
    font-size: 20px; 
    text-align: center;  
    border-radius: 10px;
    width: 100%;
    margin-left: 3px;
    box-sizing: border-box;
}